#group_card{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1.5em;
  position: relative;
  background: #fff;
  box-shadow: 0px 5px 50px 0 #17a2b8;
  border-radius: 2px;
  transition: all .3s ease
}

.strong{
  font-weight: 600;
}
.heading{
  color: #2e3d49;
}

.secondary{
  color: #02ccba;
}
#desc{
      width: 100%;
      padding: 24px 20px;
      box-sizing: inherit;
}

#card_content{
  padding: 16px 8px;
  width: 100%;
}
#mainContent
{
  margin:auto;
}
#image_content{
  float: left;
  margin-right: .75rem;
}
