#group_card{

  margin-bottom: 1.5em;
  position: relative;
  background: #fff;
  padding: 16px 8px;
  box-shadow: 0px 5px 50px 0 #17a2b8;
  border-radius: 2px;
  transition: all .3s ease
}

.strong{
  font-weight: 600;
}
.heading{
  color: #2e3d49;
}
.group_links { color: inherit; }
a:hover{
    text-decoration: none;
}
.secondary{
  color: #02ccba;
  text-decoration: none;
}


#mainContent
{
  margin:auto;
}
#image_content{
  float: left;
  margin-right: .75rem;
}

#group-container{
  margin-left: 20%;
  margin-right: 20%;
}
